{% extends "form.html" %}

{% block header %}Movie1{% endblock %}

{% block content %}
<div class="video-container">
    {% for video in videos %}
    <div class="ratio ratio-16x9">
        <iframe class="embed-responsive-item" src="{{ video }}" width="560" height="315" allowfullscreen>
        </iframe>
    </div>
    <form>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">inline 1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">inline 2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">inline 1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">inline 2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">inline 1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">inline 2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">inline 1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">inline 2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">inline 1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">inline 2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
                id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">inline 3 (disabled)</label>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}